In [1]:
import requests, pandas as pd, numpy as np, time
import os

from datetime import datetime

In [5]:
shows = pd.read_csv("csv_shows_master_extraccion.csv")
eps = pd.read_csv("csv_episodios_raw_extraccion.csv")

In [6]:
shows

,id,name,status,start_date,end_date,network,country,runtime,rating,rating_count,genres,total_episodes
0,1,Fernwood 2Night,Ended,1977-07-04,NaN,Syndication,US,30,0.0,0,Comedy,65
1,2,America 2Night,Ended,1978-04-10,NaN,Syndication,US,30,0.0,0,Comedy,65
2,3,"Mary Hartman, Mary Hartman",Ended,1976-01-05,NaN,Syndication,US,30,0.0,0,Comedy,325
3,4,Sara (1985),Canceled/Ended,Jan/23/1985,May/08/1985,NBC,US,30,0.0,0,Comedy,13
4,5,Buffalo Bill,Canceled/Ended,Jun/01/1983,Apr/05/1984,NBC,US,30,0.0,0,Comedy,26
...,...,...,...,...,...,...,...,...,...,...,...,...
26846,93995,Restarted Love,Ended,2025-08-22,NaN,Tencent QQ,CN,10,0.0,0,Drama,15
26847,93996,The Miracles,In Development,NaN,NaN,Tencent QQ,CN,10,0.0,0,Drama,0
26848,93997,С новым счастьем!,Running,2025-03-28,NaN,ТВ Центр,RU,10,0.0,0,"Drama, Mystery, Romance",2
26849,93998,Катя и Эф. Куда-Угодно-Дверь,Running,2018-05-31,NaN,КиноПоиск,RU,10,0.0,0,"Adventure, Children",119
26850,93999,Irreplaceable,In Development,NaN,NaN,Youku,CN,10,0.0,0,Romance,0

In [13]:
df1 = shows[shows["id"] == 6320].drop_duplicates()

In [14]:
df2 = eps[eps["show_id"] == 6320]

In [21]:
eps = eps.groupby(by = "show_id", as_index = False).agg({"season" : "max"})
eps

       show_id  season
0         6320       1
1         6321       3
2         6322       9
3         6323       3
4         6324       1
...        ...     ...
15305    93993       1
15306    93994       1
15307    93995       1
15308    93997       1
15309    93998       3

[15310 rows x 2 columns]

In [35]:
df_unido = pd.merge(
    left=shows,                     # Mantiene TODAS las filas de episodios (DataFrame principal)
    right=eps,                  # Agrega las columnas de la información de la serie
    left_on='id',            # Clave en 'eps' (el ID de la serie al que pertenece el episodio)
    right_on='show_id',                # Clave en 'shows' (el ID único de la serie)
    how='left'                    # Tipo de unión: Left Join
)
df_unido

,id,name,status,start_date,end_date,network,country,runtime,rating,rating_count,genres,total_episodes,show_id,season
0,1,Fernwood 2Night,Ended,1977-07-04,NaN,Syndication,US,30,0.0,0,Comedy,65,NaN,NaN
1,2,America 2Night,Ended,1978-04-10,NaN,Syndication,US,30,0.0,0,Comedy,65,NaN,NaN
2,3,"Mary Hartman, Mary Hartman",Ended,1976-01-05,NaN,Syndication,US,30,0.0,0,Comedy,325,NaN,NaN
3,4,Sara (1985),Canceled/Ended,Jan/23/1985,May/08/1985,NBC,US,30,0.0,0,Comedy,13,NaN,NaN
4,5,Buffalo Bill,Canceled/Ended,Jun/01/1983,Apr/05/1984,NBC,US,30,0.0,0,Comedy,26,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26846,93995,Restarted Love,Ended,2025-08-22,NaN,Tencent QQ,CN,10,0.0,0,Drama,15,93995.0,1.0
26847,93996,The Miracles,In Development,NaN,NaN,Tencent QQ,CN,10,0.0,0,Drama,0,NaN,NaN
26848,93997,С новым счастьем!,Running,2025-03-28,NaN,ТВ Центр,RU,10,0.0,0,"Drama, Mystery, Romance",2,93997.0,1.0
26849,93998,Катя и Эф. Куда-Угодно-Дверь,Running,2018-05-31,NaN,КиноПоиск,RU,10,0.0,0,"Adventure, Children",119,93998.0,3.0
26850,93999,Irreplaceable,In Development,NaN,NaN,Youku,CN,10,0.0,0,Romance,0,NaN,NaN

In [ ]:
#  Cargar y mergear
shows = pd.read_csv("01_shows_master.csv")
eps = pd.read_csv("02_episodios_raw.csv")
eps['air_date'] = pd.to_datetime(eps['air_date'], errors='coerce')
eps = eps.dropna(subset=['air_date'])
df = eps.merge(shows[['id','network','country','status','rating','genres']], 
                left_on='show_id', right_on='id', how='left')
df.drop('id', axis=1, inplace=True)
df['year'] = df['air_date'].dt.year
df = df.drop_duplicates(ignore_index=True)
print(f"Dataset final: {df.shape[0]} episodios enriquecidos")

In [ ]:

# 8. Completar el cálculo de días entre episodios consecutivos por show
df = df.sort_values(['id', 'air_date'])
df['dias_entre'] = df.groupby('id')['air_date'].diff().dt.days
# Crear numeración global de episodios por show (continua a través de temporadas)
df['episode_agg'] = df.groupby(by=['show_name']).cumcount() + 1

In [ ]:
df.info()